*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} 
.navcart{
    border: 2px solid white;
    color: white;
    padding: 3px 13px;
    font-size: larger;
    border-radius: 5px;
}
.row {
    --bs-gutter-x: 0%;
    --bs-gutter-y: 0%; 
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.ccou{
    font-size: medium;
    padding: 3px 10px;
    font-weight: 600;
    color: black;
    background-color: aqua;
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -30px;
}

.min{
    padding: 5px 7px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 2px;
    cursor: pointer;color: blue;
}
.num{
    padding: 5px 10px;
    border: 2px solid;
}
.plus{
    padding: 5px 7px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;color: green;
}
.del{
    padding: 5px 10px;
    border: 2px solid black;
    margin-left: 23px;
    cursor: pointer;color: tomato;
}
.ptp{
    width: 100%;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: 500;
}

.csux{
    display: none;
    justify-content: center;
    color: green;
    font-size: large;
    margin-bottom: -10px;
}
.cusx{
    display: none;
    justify-content: center;
    color: red;
    font-size: large;
    margin-bottom: -10px;
}

/* mob view start */

@media (max-width: 360px) {
    .osum{
        font-size: 20px;
        font-weight: 500;
    }
}

/* mob view end */